<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--@BeforeSuite-->
<suite name="Saucedemo">
<!--    @BeforeTest-->
    <test name="SortItem">
        <parameter name="username" value="standard_user"/>
        <parameter name="password" value="secret_sauce"/>
        <classes>
<!--            @BeforeClass-->
            <class name="saucedemo.testcases.SortingTest"></class>
<!--            @AfterClass-->
        </classes>
    </test>
<!--    @AfterTest-->
    <test name="Login Test">
        <classes>
            <class name="saucedemo.testcases.LoginTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
<!--@AfterSuite-->

