<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--@BeforeSuite-->
<suite name="Saucedemo">
<!--    @BeforeTest-->
<!--    @AfterTest-->
    <groups>
        <run>
            <include name="smoke"></include>
        </run>
    </groups>
    <test name="Login To Administration Panel">
        <classes>
            <class name="tapmo.testcases.access_function.login_to_administration_panel.LoginToAdministrationPanel"/>
        </classes>
    </test> <!-- Test -->
    <test name="Show/Hide">
        <classes>
            <class name="tapmo.testcases.access_function.show_hide.ShowHide"/>
        </classes>
    </test> <!-- Test -->
    <test name="Push Notification">
        <classes>
            <class name="tapmo.testcases.access_function.push_notification.PushNotification"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
<!--@AfterSuite-->

